// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.7/
// For more information, go to: http://journeymap.info/Options_Manager
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "true",
  "showRotatingBeam": "true",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "boldLabel": "false",
  "fontScale": "2",
  "textureSmall": "true",
  "maxDistance": "0",
  "minDistance": "4",
  "createDeathpoints": "false",
  "autoRemoveDeathpoints": "false",
  "autoRemoveDeathpointDistance": "2",
  "showDeathpointlabel": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "MM-dd-yyyy",
  "timeFormat": "HH:mm:ss",
  "configVersion": "5.7.1"
}
