mods/
*buildOut/*
*client.zip
.mixin.out/
armourers_workshop/
cache/
fonts/
journeymap/
logs/
saves/

.curseclient
usercache.json
usernamecache.json
minecraftinstance.json
instance.json

*.log
*.txt
*.dll

build/modlist.*

hei_bookmarks.ini

screenshots/

backups/

resourcepacks/

config/

local/
instance.json
config/betterquesting/DefaultQuests.json
