buildOut/
build/server
*client.zip
.mixin.out/
armourers_workshop/
cache/
fonts/
journeymap/
logs/
saves/
mods/*.jar
.idea/

.curseclient
usercache.json
usernamecache.json
minecraftinstance.json
instance.json
index.toml

*.log
*.txt
*.dll
*.so

build/modlist.*
config/InvTweaks.cfg
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
config/splash.properties
config/jei/bookmark.ini
config/BiomeTweaker/output/*
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/gregtech/terminal/*

hei_bookmarks.ini

config/acronym/saved/

config/beneath/blockdeco.json

#config/biomesoplenty/biomes/defaults/

#config/biomesoplenty/biome_ids.json

config/BiomeTweaker/output/

config/cavegenerator/REFERENCE.cave

config/cavegenerator/TUTORIAL.cave

config/cd4017be/compiled.dat

config/icbmclassic/explosive_reg.json

config/opencomputers/gregtech.recipes

config/opencomputers/hardmode.recipes

config/opencomputers/peaceful.recipes

config/JustEnoughCalculation/record.json

config/worldedit/worldedit.properties

config/ichunutil.cfg

config/alet-client.json

config/alet.json

config/creativecore-client.json

config/creativecore.json

config/customloadingscreen_timings.nbt

config/littletiles-client.json

screenshots/

backups/

# resourcepacks/

local/

disabledmods/

jarmods/

visualores/

*__pycache__*

.idea/material_theme_project_new.xml
.idea/discord.xml
.idea/workspace.xml
servers.dat
mods/*.jar
/mods/1.12.2/*.jar
/mods/memory_repo
vintagefix/transformerCache/jarDiscoverer.cache
/journeymap
hotbar.nbt
config/susy/susy_canary
lib/groovy-5.0.0-alpha-1-sources.jar
lib/groovy-5.0.0-alpha-1.jar
out/production/Supersymmetry/postInit/postInit.iml
out/production/Supersymmetry/assets/supersymmetry/lang/en_us.lang
out/production/Supersymmetry/runConfig.json
out/production/Supersymmetry/groovy.iml
lib/groovy-xml-5.0.0-alpha-1.jar
lib/groovy-xml-5.0.0-alpha-1-sources.jar
lib/groovy-typecheckers-5.0.0-alpha-1.jar
lib/groovy-typecheckers-5.0.0-alpha-1-sources.jar
lib/groovy-toml-5.0.0-alpha-1.jar
lib/groovy-toml-5.0.0-alpha-1-sources.jar
lib/groovy-testng-5.0.0-alpha-1.jar
lib/groovy-testng-5.0.0-alpha-1-sources.jar
lib/groovy-test-junit5-5.0.0-alpha-1.jar
lib/groovy-test-junit5-5.0.0-alpha-1-sources.jar
lib/groovy-test-5.0.0-alpha-1.jar
lib/groovy-test-5.0.0-alpha-1-sources.jar
lib/groovy-templates-5.0.0-alpha-1.jar
lib/groovy-templates-5.0.0-alpha-1-sources.jar
lib/groovy-swing-5.0.0-alpha-1.jar
lib/groovy-swing-5.0.0-alpha-1-sources.jar
lib/groovy-sql-5.0.0-alpha-1.jar
lib/groovy-sql-5.0.0-alpha-1-sources.jar
lib/groovy-servlet-5.0.0-alpha-1.jar
lib/groovy-servlet-5.0.0-alpha-1-sources.jar
lib/groovy-nio-5.0.0-alpha-1.jar
lib/groovy-nio-5.0.0-alpha-1-sources.jar
lib/groovy-macro-library-5.0.0-alpha-1.jar
lib/groovy-macro-library-5.0.0-alpha-1-sources.jar
lib/groovy-macro-5.0.0-alpha-1.jar
lib/groovy-macro-5.0.0-alpha-1-sources.jar
lib/groovy-jsr223-5.0.0-alpha-1.jar
lib/groovy-jsr223-5.0.0-alpha-1-sources.jar
lib/groovy-json-5.0.0-alpha-1.jar
lib/groovy-json-5.0.0-alpha-1-sources.jar
lib/groovy-jmx-5.0.0-alpha-1.jar
lib/groovy-jmx-5.0.0-alpha-1-sources.jar
lib/groovy-groovysh-5.0.0-alpha-1.jar
lib/groovy-groovysh-5.0.0-alpha-1-sources.jar
lib/groovy-groovydoc-5.0.0-alpha-1.jar
lib/groovy-groovydoc-5.0.0-alpha-1-sources.jar
lib/groovy-ginq-5.0.0-alpha-1.jar
lib/groovy-ginq-5.0.0-alpha-1-sources.jar
lib/groovy-docgenerator-5.0.0-alpha-1.jar
lib/groovy-docgenerator-5.0.0-alpha-1-sources.jar
lib/groovy-dateutil-5.0.0-alpha-1.jar
lib/groovy-dateutil-5.0.0-alpha-1-sources.jar
lib/groovy-datetime-5.0.0-alpha-1.jar
lib/groovy-datetime-5.0.0-alpha-1-sources.jar
lib/groovy-contracts-5.0.0-alpha-1.jar
lib/groovy-contracts-5.0.0-alpha-1-sources.jar
lib/groovy-console-5.0.0-alpha-1.jar
lib/groovy-console-5.0.0-alpha-1-sources.jar
lib/groovy-cli-picocli-5.0.0-alpha-1.jar
lib/groovy-cli-picocli-5.0.0-alpha-1-sources.jar
lib/groovy-cli-commons-5.0.0-alpha-1.jar
lib/groovy-cli-commons-5.0.0-alpha-1-sources.jar
lib/groovy-astbuilder-5.0.0-alpha-1.jar
lib/groovy-astbuilder-5.0.0-alpha-1-sources.jar
lib/groovy-ant-5.0.0-alpha-1.jar
lib/groovy-ant-5.0.0-alpha-1-sources.jar
Supersymmetry.iml
