# Configuration file

general {
    B:cauldronFluidPhysics=true
    B:cauldronNetherVaporize=true
    B:consistentBucketModels=true
    B:fixWaterPotionColor=true
    B:modernWaterTexture=true

    # Min: 0
    # Max: 255
    I:oceanBiomeSize=6
    B:waterFogColorsFallbackToSurfaceColor=true
}


