# Configuration file

general {
    S:COLORS <
        #swamp = #617b64
        #savanna = #5D9D8E
        #ocean = #3D76C8
        #river = #4F9FD5
        #lush = #45A7A5
        #hot = #3BA7C8
        #cold = #4A78B8
        #sparse = #5D9CCF
        #dense = #4797A8
        #wet = #4797A4
        #dry = #5EA8D9
        #coniferous = #356B73
        #jungle = #3F969C
        #spooky = #557BA9
        #dead = #667063
        #nether = #22486A
        #end = #7A72C9
        #mushroom = #7656A6
        #magical = #46C5D6
        #rare = #2E92D4
        #water = #4A96D9
        #mesa = #5E8FA2
        #forest = #4695A4
        #plains = #5A9FD6
        #mountain = #5B8EDB
        #hills = #4F96BF
     >
}


