# Configuration file

general {
    # Interval for default sampling runs. Default: 4
    I:defaultSamplerInterval=4

    # Force using Java sampler for default sampling runs. Default: false
    B:forceDefaultJavaSampler=false

    # Acceptable values are as follows:
    # GAME_LOAD: Profiles the loading stage of the game from the earliest point until the start menu
    # WORLD_LOAD: Profiles the loading of the world in its entirety, from creating a world to when the player spawns in
    # CORE_MOD: Profiles loading of coremods, only the ones after Flare is initialized
    # CONSTRUCTION: Profiles the FMLConstructionEvent
    # PRE_INIT: Profiles the FMLPreInitializationEvent
    # INIT: Profiles the FMLInitializationEvent
    # POST_INIT: Profiles the FMLPostInitializationEvent
    # AVAILABLE: Profiles the FMLLoadCompleteEvent
    # FINALIZING: Profiles the FMLModIdMappingEvent, the last event before reaching the start menu
    # BEFORE_START_WORLD: Profiles the FMLServerAboutToStartEvent
    # STARTING_WORLD: Profiles the FMLServerStartingEvent
    # STARTED_WORLD: Profiles the FMLServerStartedEvent
    S:stages <
     >
    S:trustedKeys <
     >
}


