# Configuration file

enchantments {
    # Might make Bane Of Arthropods actually useful (Experimental)
    B:usefulBaneOfArthropods=false
}


general {
    # If you want to disable dynamic generation of current/peak energy usage, use this. [default: true]
    B:enableDynamicEnergyUsageCalculation=true
}


tweaks {
    B:dyeItemNamesInAnvil=true
}


