# Configuration file

client {
    # Use the old sneak method to extract items (may interfere with block harvesting) [default: false]
    B:"Alternate Controls"=false

    # Maximum time in ticks between mouse clicks to be counted as a double click [range: 1 ~ 20, default: 5]
    I:"Double Click Delay"=5
}


general {
    # Blacklist these fluids from being stored in barrels [default: ]
    S:"Fluid Blacklist" <
     >

    # Blacklist these items from being stored in barrels and crates [default: ]
    S:"Item Blacklist" <
     >

    # Allows items to be placed in barrels. Disable to only permit fluids [default: true]
    B:"Multi-Purpose Barrels"=true

    # Blacklists ore dictionary conversions (REGEX) [default: ]
    S:"Ore Dict Blacklist" <
     >
}


