# Configuration file

##########################################################################################################
# keybinds
#--------------------------------------------------------------------------------------------------------#
# If you're reading this in the config file, I would strongly recommend changing the keybinds in-game.
# iChunUtil uses custom keybinds. Go to the controls/keybinds page and click on the bottom right corner.
# 
# If you really have to edit the config file, the format is <key code>, and append either ":SHIFT", ":CTRL", or ":ALT" for keys you want to hold down at the same time.
# For key codes go to: http://minecraft.gamepedia.com/Key_codes 
# Example: 48:SHIFT:ALT will bind to the B key when you hold Shift and Alt (On a QWERTY keyboard).
##########################################################################################################

keybinds {
    # Key to grab blocks/entities with the Portal Gun [default: 34]
    S:portalgun.keyGrab=34

    # Key to reset portals of your Portal Gun [default: 19]
    S:portalgun.keyReset=19

    # Key to zoom and unzoom the Portal Gun [default: -98]
    S:portalgun.keyZoom=-98
}


