# Configuration file

blocks {

    encoder {
        # The list of recipe types to disable in the Package Recipe Encoder.
        S:disabled_recipe_types <
         >

        # How many pattern slots should the Package Recipe Encoder have.
        I:pattern_slots=20
    }

    packager {
        B:check_disjoint=true

        # Should the Packager draw energy from ME systems.
        B:draw_me_energy=true

        # How much FE the Packager should hold.
        I:energy_capacity=5000

        # How much FE the Packager should use.
        I:energy_req=500

        # How much FE/t maximum the Packager should use.
        I:energy_usage=100
        B:force_disjoint=false

        # How many ticks should the Packager wait between each refresh.
        I:refresh_interval=4
    }

    unpackager {
        # Should the Unpackager draw energy from ME systems.
        B:draw_me_energy=true

        # How much FE the Unpackager should hold.
        I:energy_capacity=5000

        # How much FE/t maximum the Unpackager should use.
        I:energy_usage=50

        # How many ticks should the Unpackager wait between each refresh.
        I:refresh_interval=4
    }

    packager_extension {
        B:check_disjoint=true

        # Should the Packager Extension draw energy from ME systems.
        B:draw_me_energy=true

        # How much FE the Packager Extension should hold.
        I:energy_capacity=5000

        # How much FE the Packager Extension should use.
        I:energy_req=500

        # How much FE/t maximum the Packager Extension should use.
        I:energy_usage=100
        B:force_disjoint=false

        # How many ticks should the Packager Extension wait between each refresh.
        I:refresh_interval=4
    }

    crafter {
        # Should the Packager Crafter draw energy from ME systems.
        B:draw_me_energy=true

        # Should the Package Crafter be enabled.
        B:enabled=false

        # How much FE the Package Crafter should hold.
        I:energy_capacity=5000

        # How much FE the Package Crafter should use.
        I:energy_req=500

        # How much FE/t maximum the Package Crafter should use.
        I:energy_usage=100

        # How many ticks should the Package Crafter wait between each refresh.
        I:refresh_interval=4
    }

    distributor {
        # How large the range of the Positioned Package Distributor should be.
        I:range=16

        # How many ticks should the Positioned Package Distributor wait between each refresh.
        I:refresh_interval=4
    }

    crafting_proxy {
        # How large the range of the Package Crafting Machine Proxy should be.
        I:range=8
    }

}


