# Configuration file

general {
    # Allows you to increase the render bounding boxes of entities (or all entities of a mod). Width increases the size on the X and Z axis. Top increases the size in the positive Y direction. Bottom increases the size in the negative Y direction. (Accepts 'modid=width,top,bottom' or 'modid:entity=width,top,bottom').
    S:entityBoundingBoxGrowthList <
     >
    B:showFrameTimes=false

    # Allows you to increase the render bounding boxes of tile entities (or all entities of a mod). Width increases the size on the X and Z axis. Top increases the size in the positive Y direction. Bottom increases the size in the negative Y direction. (Accepts 'modid=width,top,bottom' or 'modid:tileentity=width,top,bottom').
    S:tileEntityBoundingBoxGrowthList <
     >

    # Tile entities whose bounding boxes won't be cached (Accepts 'modid' or 'modid:tileentity').
    S:tileEntityCachedBoundingBoxBlacklist <
     >

    # Most tile entities have static bounding boxes and thus they can be cached. Tile entities whose bounding boxes are likely to change every frame or so should be added to the blacklist. Tile entities whose bounding only change every once in a while should be covered by cache updates (update speed adjustable through tileEntityCachedBoundingBoxUpdateInterval)
    B:tileEntityCachedBoundingBoxEnabled=true

    # Every frame there is a 1 in x chance to update the cached bounding box. Higher = better performance, Lower = tile entities with dynamic bounding boxes get updated faster.
    # Min: 1
    # Max: 1000000
    I:tileEntityCachedBoundingBoxUpdateInterval=100

    opengldebugoutput {
        # Better debugging of OpenGL errors. (Requires OpenGL 4.3!)
        B:enabled=false

        # Enable/Disable logging of high severity non-error messages. (You probably never want to enable this as a normal user)
        B:logHighSeverity=false

        # Enable/Disable logging of low severity non-error messages. (You probably never want to enable this as a normal user)
        B:logLowSeverity=false

        # Enable/Disable logging of medium severity non-error messages. (You probably never want to enable this as a normal user)
        B:logMediumSeverity=false

        # Enable/Disable logging of notification severity non-error messages. (You probably never want to enable this as a normal user)
        B:logNotificationSeverity=false
    }

}


