# Configuration file

general {
    # Adjust the default way RGB16 handles dyes
    # True:
    #  RYB blending is used to mix the colors
    #   (sneaking will set it to the dye color)
    # False:
    #  RGB manipulation is used, dye color increases values
    #   (decrease with sneak)
    # 
    # RYB is easier to use but RGB is more precise
    B:useColorBlendMode=true
}


