# Configuration file

general {
    # If true, trying a new food spawns particles.
    B:"Enable Intermediate Particles"=true

    # If true, reaching a new milestone spawns particles.
    B:"Enable Milestone Particles"=true

    # If true, reaching a new milestone plays a ding sound.
    B:"Enable Milestone Sounds"=true

    # Foods in this list won't affect the player's health nor show up in the food book.
    S:"Food Blacklist" <
     >

    # When this list contains anything, the blacklist is ignored and instead only foods from here count.
    S:"Food Whitelist" <
     >

    # A list of numbers of unique foods you need to eat to unlock each milestone, in ascending order.
    I:"Milestone amounts" <
        5
        10
        15
        20
        25
     >

    # The minimum hunger value foods need to provide in order to count for milestones, in half drumsticks.
    I:"Minimum Food Value"=1

    # Whether or not to reset the food list on death, effectively losing all bonus hearts.
    B:"Reset on Death"=false

    # If true, the food book also lists foods that you haven't eaten, in addition to the ones you have.
    B:"Show Uneaten Foods"=true

    # Number of hearts you start out with.
    I:defaultHeartCount=10

    # Number of hearts you gain for reaching a new milestone.
    I:heartsPerMilestone=2

    # If true, foods indicate in their tooltips whether or not they have been eaten.
    B:isFoodTooltipEnabled=true

    # Whether the messages notifying you of reaching new milestones should be displayed above the hotbar or in chat.
    B:shouldShowProgressAboveHotbar=true
}


