# Configuration file

debug {
    # Set to true to write simple debug info to the console. [default: false]
    B:Debug=false

    # You probably don't want to set this to true
    # unless you actually want to debug the mod.
    # It writes quite a lot in the console. [default: false]
    B:"High Output Debug"=false
}


low_pass {
    # The amount of low pass that will be applied in lava. Lower is stronger. [range: 0.0 ~ 1.0, default: 0.2]
    S:"Lava Low Pass Amount"=0.2

    # The multiplier for volume when you are in lava. Lower is quieter. [range: 0.0 ~ 1.0, default: 0.6]
    S:"Lava Low Pass Volume"=0.6

    # Set to false to disable low pass filter in water and lava. [default: true]
    B:"Use Low Pass?"=true

    # The amount of low pass that will be applied in water. Lower is stronger. [range: 0.0 ~ 1.0, default: 0.4]
    S:"Water Low Pass Amount"=0.4

    # The multiplier for volume when you are in water. Lower is quieter. [range: 0.0 ~ 1.0, default: 1.0]
    S:"Water Low Pass Volume"=1.0
}


occlusion {
    # The percentage of occlusion you can get. You can lower this if you find
    # the occlusion to be too much or raise it for a more noticeable
    # effect. [range: 0.0 ~ Infinity, default: 1.0]
    S:"Occlusion Percent"=1.0

    # Add new entries (each on a new line) in the format
    # <block id>-<metadata>-<occlusion double> to customize how much sound
    # they should absorb when they are between you and the sound source.
    # For the metadata, 16 means any metadata value. The amount is a
    # double, with 0.0 absorbing no sound (like air), and 1.0 being the normal
    # amount, and 2.0 being twice the normal amount. By default, wool has
    # entry wool-16-2.0 which is twice the normal sound absorbtion. [default: [wool-16-2.0]]
    S:"Specific block occlusion:" <
        wool-16-2.0
     >

    # Set to false to disable low pass filter for sounds behind solid walls.
    # If you are getting lag, disabling this might help. [default: true]
    B:"Use Occluded Sounds (muting sounds behind solid walls)?"=true
}


reverb {
    # If this is true, when you're in an area that can see the sky, then
    # there will be less reverb. This is for aboveground areas with
    # lots of stone and such like extreme hills biomes. There still might
    # be some, but less then when the sky isn't visible. [default: true]
    B:"Do sky checks:"=true

    # If you are getting lag, set this number lower. The higher it is,
    # the more realistic the reverb will be. [range: 0 ~ 2147483647, default: 1024]
    I:"Number of blocks reverb will check through:"=1024

    # The percentage of reverb you can get. You can lower this if you find
    # the reverb to be too much (or raise it if you really want an
    # echo). [range: 0.0 ~ 2.0, default: 1.0]
    S:"Reverb Percent"=1.0

    # Add values to this list (each on a new line) in the format 
    # <block id>-<metadata>-<reverb double>, to change how the block
    # with that metadata absorbs or creates reverb. If the
    # metadata is 16, that means it will apply to any metadata value.
    # By default things like wool, snow, carpets, and plants absorb reverb
    # (value 0.0), things like wood and dirt are neutral (value 1.0),
    # and things like stone, metal, ice, and glass create reverb (value 2.0).
    # So if, say, you wanted to add pumpkins of any metadata to the blocks
    # that create reverb, you would put pumpkin-16-2.0 on a new line. [default: [soul_sand-16-2.0]]
    S:"Specific block reverb:" <
        soul_sand-16-2.0
     >

    # Set to false to disable reverb. [default: true]
    B:"Use Reverb?"=true
}


