# Configuration File
general {
    # Enable Debug Logging
    B:DebugLogging=false
    
    # Max size of a generated texture sheet (-1 == autodetect, 4096 is a sane option)
    I:MaxTextureSize=16384
    
    # Size of each sprite in the texture sheet
    I:SpriteSize=128
    
}
