# Configuration file

general {

    xporbclump {
        # Size of checking area
        D:areaSize=4.0

        # Changes orbs size based on the amount of experience it holds
        B:changeOrbSize=false

        # Enable xp orb clumping
        B:enable=true

        # How many xp orbs can be in that area
        I:maxOrbCount=1

        # Remove xp collecting cooldown
        B:removeCooldown=true
    }

    golemtweaks {
        # Enable fixes to golem
        B:enable=true
    }

    elytratweaks {
        # Enable fixes to elytra
        # Fixes MC-90598 and MC-162401
        B:enable=true
    }

    preciseentityposition {
        # Fix EntityPlayerSP.getPosition
        # For some reason they override getPosition and return wrong position if X and/or Z is negative.
        B:enable=true
    }

    shulkercoloring {
        # Allow coloring shulkers with dyes.
        # default: false
        B:enable=false
    }

    tesrdistance {
        # Remove the distance limit altogether.
        # This option makes both of the other options redundant.
        B:I_AM_HIM=false

        # The max distance you can go away before tile entity gets discarded for rendering.
        # You can't use 0 or negative values. You can use MAX to denote no limits. 4096 is the default distance limit.
        # The distance given will be square rooted to get actual distance.
        # Example: minecraft:banner#4096.0
        S:distanceList <
         >

        # Square of max distance to render tile entities by default. 4096.0 is the vanilla value, use 0.0 to denote to not override the default value, tile entities can have different values.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:maxDistance=0.0
    }

    terotationfix {
        # Fix some modded tile entities losing their data when rotated by wrenches
        # Fixes tile entities from: Barrels, Drums, Storage & More, Traveler's Backpack
        B:"Fix Tile Entity Rotation"=true

        # Additional classes of tile entities that are not on the list for people that know how this thing works.
        # Be sure to start a new issue on this mods GitHub page if you find a tile entity that suffers from this issue.
        # Example: com.tiviacz.travelersbackpack.tileentity.TileEntityTravelersBackpack
        S:"Rotation Glitch Fix Target Classes" <
         >
    }

}


