# Configuration file

general {
    # The margin (in pixels) between the tooltip frame and its content.
    I:contentMargin=2

    # Whether Obscure Tooltips should be active at all.
    B:enabled=true

    # List of item IDs that should be ignored by Obscure Tooltips.
    S:ignoredItems <
        quality_equipment:reforge_gui_button
     >

    # Whether Obscure Tooltips should display the second line in the tooltip header.
    B:labelsEnabled=true

    # The opacity of the drop shadows.
    D:shadowOpacity=0.3

    # Whether Obscure Tooltips should display drop shadows.
    B:shadowsEnabled=true

    # Whether to show a hint about enabling the built-in Vibrant Tooltips resource pack on game start.
    # Automatically disabled after being shown once.
    B:showVibrantTooltipsHint=false
}


model-preview {
    # List of item IDs that should never display a 3D armor preview.
    S:armorPreviewBlacklist <
     >

    # Whether Obscure Tooltips should display 3D armor previews.
    B:armorPreviewEnabled=true

    # List of item IDs that should always display a 3D armor preview.
    S:armorPreviewWhitelist <
        susy:susy_armor
        gregtech:gt_armor
     >

    # Width of the 3D armor preview in pixels.
    I:armorPreviewWidth=40

    # List of item IDs that should never display a 3D tool/weapon preview.
    S:toolPreviewBlacklist <
     >

    # Whether Obscure Tooltips should display 3D tool/weapon previews.
    B:toolPreviewEnabled=true

    # List of item IDs that should always display a 3D tool/weapon preview.
    S:toolPreviewWhitelist <
        minecraft:trident
        minecraft:bow
        minecraft:crossbow
     >

    # Width of the 3D tool/weapon preview in pixels.
    I:toolPreviewWidth=30
}


scrolling-and-wrapping {
    # Whether Obscure Tooltips should wrap lines in tooltips.
    B:autoWrapEnabled=true

    # Whether long tooltips should become scrollable when they exceed the screen height.
    B:scrollEnabled=true

    # Extra spacing (in pixels) above and below tooltip when scrolling is enabled.
    I:scrollMargin=10

    # How fast the tooltip scrolls when using the mouse wheel.
    I:scrollSpeed=5
}


sounds {
    # The volume multiplier for tooltip sound effects.
    D:soundVolume=1.0

    # Whether Obscure Tooltips should play sound effects.
    B:soundsEnabled=false
}


styles {

    default {
        # Color in #AARRGGBB format.
        S:defaultPanelBackgroundBottom=#e0000000

        # Color in #AARRGGBB format.
        S:defaultPanelBackgroundTop=#b5000000

        # Color in #AARRGGBB format.
        S:defaultPanelBorderBottom=#ff1e4b59

        # Color in #AARRGGBB format.
        S:defaultPanelBorderTop=#ff469cbd
    }

    uncommon-items {
        # Color in #AARRGGBB format.
        S:uncommonPanelBackgroundBottom=#e0000000

        # Color in #AARRGGBB format.
        S:uncommonPanelBackgroundTop=#b5000000

        # Color in #AARRGGBB format.
        S:uncommonPanelBorderBottom=#ff1e4b59

        # Color in #AARRGGBB format.
        S:uncommonPanelBorderTop=#ff469cbd

        # Whether Obscure Tooltips should display a unique style for uncommon items.
        B:uncommonStyleEnabled=false
    }

    rare-items {
        # Color in #AARRGGBB format.
        S:rarePanelBackgroundBottom=#F0100010

        # Color in #AARRGGBB format.
        S:rarePanelBackgroundTop=#F0100010

        # Color in #AARRGGBB format.
        S:rarePanelBorderBottom=#60606070

        # Color in #AARRGGBB format.
        S:rarePanelBorderTop=#80BBBBCC

        # Whether Obscure Tooltips should display a unique style for rare items.
        B:rareStyleEnabled=true
    }

    epic-items {
        # Color in #AARRGGBB format.
        S:epicPanelBackgroundBottom=#F0100010

        # Color in #AARRGGBB format.
        S:epicPanelBackgroundTop=#F0100010

        # Color in #AARRGGBB format.
        S:epicPanelBorderBottom=#60AA5000

        # Color in #AARRGGBB format.
        S:epicPanelBorderTop=#80FFBB00

        # Color in #AARRGGBB format.
        S:epicRayGlowPrimary=#FFF00FFF

        # Color in #AARRGGBB format.
        S:epicRayGlowSecondary=#FFFF5E0F

        # Color in #AARRGGBB format.
        S:epicShimmerAccent=#BBF88FFF

        # Color in #AARRGGBB format.
        S:epicShimmerInner=#30F00FFF

        # Color in #AARRGGBB format.
        S:epicShimmerOuter=#00FF00FF

        # Whether Obscure Tooltips should display a unique style for epic items.
        B:epicStyleEnabled=false
    }

    enchanted-items {
        # Color in #AARRGGBB format.
        S:enchantedGlintPrimaryWave=#60FABF16

        # Color in #AARRGGBB format.
        S:enchantedGlintPrimaryWaveGlow=#40FA9F16

        # Color in #AARRGGBB format.
        S:enchantedGlintRing=#50FFAAFF

        # Color in #AARRGGBB format.
        S:enchantedGlintSecondaryWave=#50D816FA

        # Color in #AARRGGBB format.
        S:enchantedGlintSecondaryWaveGlow=#30D816FA

        # Color in #AARRGGBB format.
        S:enchantedParticleCenter=#80FF80FF

        # Color in #AARRGGBB format.
        S:enchantedParticleEdge=#00AA40AA

        # Whether Obscure Tooltips should display a unique style for enchanted items.
        B:enchantedStyleEnabled=false
    }

    cursed-items {
        # Color in #AARRGGBB format.
        S:cursedGlintPrimaryWave=#60FA1693

        # Color in #AARRGGBB format.
        S:cursedGlintPrimaryWaveGlow=#40FA1679

        # Color in #AARRGGBB format.
        S:cursedGlintRing=#50FFABAA

        # Color in #AARRGGBB format.
        S:cursedGlintSecondaryWave=#50E23131

        # Color in #AARRGGBB format.
        S:cursedGlintSecondaryWaveGlow=#30E23131

        # Color in #AARRGGBB format.
        S:cursedParticleCenter=#80FF2080

        # Color in #AARRGGBB format.
        S:cursedParticleEdge=#00AA2040

        # Whether Obscure Tooltips should display a unique style for cursed items.
        B:cursedStyleEnabled=false
    }

}


