// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// default : New Dimension properties will be based on this file. 
{
  "enabled": "true",
  "teleportEnabled": "false",
  "opSurfaceMappingEnabled": "true",
  "surfaceMappingEnabled": "true",
  "opTopoMappingEnabled": "true",
  "topoMappingEnabled": "true",
  "opCaveMappingEnabled": "true",
  "caveMappingEnabled": "true",
  "opRadarEnabled": "true",
  "radarEnabled": "false",
  "playerRadarEnabled": "false",
  "villagerRadarEnabled": "false",
  "animalRadarEnabled": "false",
  "mobRadarEnabled": "false",
  "configVersion": "5.7.1p3"
}