# Configuration file

general {
    # Allows explosives to change time of day
    B:allow_day_night_switch=true

    # Whether or not antimatter damages blocks and entities when detonating and killing a black hole (caused by red matter explosives)
    B:antimatter_block_and_ent_dmg_on_redmatter=false

    # Should antimatter ignore hardness checks for unbreakable, allows destroying bedrock and warded stone.
    # This config option does nothing if 'antimatter_break_blocks' is set to false.
    B:antimatter_break_unbreakable=true

    # Size of the antimatter blast
    # Min: 1
    # Max: 1000
    I:antimatter_size=55

    # Whether or not the big explosions trigger block updates for all blocks.
    # Setting this to false leads to performance improvements, especially when dealing with a lot of water.
    B:blast_do_block_updates=false

    # Allows the exothermic to place netherrack in the world
    B:exothermic_create_netherrack=true

    # Allows red matter explosions to be moved
    B:redmatter_movement=true

    ##########################################################################################################
    # fuse_times
    #--------------------------------------------------------------------------------------------------------#
    # Set the time between ignition and explosion seperately for each bomb cart/explosive/grenade here.
    ##########################################################################################################

    fuse_times {

        ##########################################################################################################
        # bomb_carts
        #--------------------------------------------------------------------------------------------------------#
        # Set fuse times for bomb carts here. The times are written in ticks, where 20 ticks = 1 second.
        ##########################################################################################################

        bomb_carts {
            # Min: 0
            # Max: 2147483647
            I:ANTIMATTER=300

            # Min: 0
            # Max: 2147483647
            I:ANTI_GRAVITATIONAL=100

            # Min: 0
            # Max: 2147483647
            I:ANVIL=100

            # Min: 0
            # Max: 2147483647
            I:ATTRACTIVE=120

            # Min: 0
            # Max: 2147483647
            I:BREACHING=0

            # Min: 0
            # Max: 2147483647
            I:CHEMICAL=100

            # Min: 0
            # Max: 2147483647
            I:CONDENSED=100

            # Min: 0
            # Max: 2147483647
            I:CONTAGIOUS=100

            # Min: 0
            # Max: 2147483647
            I:DEBILITATION=100

            # Min: 0
            # Max: 2147483647
            I:EMP=100

            # Min: 0
            # Max: 2147483647
            I:ENDER=100

            # Min: 0
            # Max: 2147483647
            I:ENDOTHERMIC=100

            # Min: 0
            # Max: 2147483647
            I:EXOTHERMIC=100

            # Min: 0
            # Max: 2147483647
            I:FRAGMENTATION=100

            # Min: 0
            # Max: 2147483647
            I:HYPERSONIC=100

            # Min: 0
            # Max: 2147483647
            I:INCENDIARY=100

            # Min: 0
            # Max: 2147483647
            I:NUCLEAR=100

            # Min: 0
            # Max: 2147483647
            I:REDMATTER=100

            # Min: 0
            # Max: 2147483647
            I:REPULSIVE=120

            # Min: 0
            # Max: 2147483647
            I:SHRAPNEL=100

            # Min: 0
            # Max: 2147483647
            I:SONIC=100

            # Min: 0
            # Max: 2147483647
            I:THERMOBARIC=100
        }

        ##########################################################################################################
        # explosives
        #--------------------------------------------------------------------------------------------------------#
        # Set fuse times for explosives (the block) here. The times are written in ticks, where 20 ticks = 1 second.
        ##########################################################################################################

        explosives {
            # Min: 0
            # Max: 2147483647
            I:ANTIMATTER=300

            # Min: 0
            # Max: 2147483647
            I:ANTI_GRAVITATIONAL=100

            # Min: 0
            # Max: 2147483647
            I:ANVIL=100

            # Min: 0
            # Max: 2147483647
            I:ATTRACTIVE=120

            # Min: 0
            # Max: 2147483647
            I:BREACHING=0

            # Min: 0
            # Max: 2147483647
            I:CHEMICAL=100

            # Min: 0
            # Max: 2147483647
            I:CONDENSED=0

            # Min: 0
            # Max: 2147483647
            I:CONTAGIOUS=100

            # Min: 0
            # Max: 2147483647
            I:DEBILITATION=100

            # Min: 0
            # Max: 2147483647
            I:EMP=100

            # Min: 0
            # Max: 2147483647
            I:ENDER=100

            # Min: 0
            # Max: 2147483647
            I:ENDOTHERMIC=100

            # Min: 0
            # Max: 2147483647
            I:EXOTHERMIC=100

            # Min: 0
            # Max: 2147483647
            I:FRAGMENTATION=100

            # Min: 0
            # Max: 2147483647
            I:HYPERSONIC=100

            # Min: 0
            # Max: 2147483647
            I:INCENDIARY=100

            # Min: 0
            # Max: 2147483647
            I:NUCLEAR=100

            # Min: 0
            # Max: 2147483647
            I:REDMATTER=100

            # Min: 0
            # Max: 2147483647
            I:REPULSIVE=120

            # Min: 0
            # Max: 2147483647
            I:SHRAPNEL=100

            # Min: 0
            # Max: 2147483647
            I:SONIC=100

            # Min: 0
            # Max: 2147483647
            I:THERMOBARIC=100
        }

        ##########################################################################################################
        # grenades
        #--------------------------------------------------------------------------------------------------------#
        # Set fuse times for grenades here. The times are written in ticks, where 20 ticks = 1 second.
        ##########################################################################################################

        grenades {
            # Min: 0
            # Max: 2147483647
            I:ANVIL=100

            # Min: 0
            # Max: 2147483647
            I:ATTRACTIVE=120

            # Min: 0
            # Max: 2147483647
            I:CHEMICAL=100

            # Min: 0
            # Max: 2147483647
            I:CONVENTIONAL=100

            # Min: 0
            # Max: 2147483647
            I:DEBILITATION=100

            # Min: 0
            # Max: 2147483647
            I:INCENDIARY=100

            # Min: 0
            # Max: 2147483647
            I:REPULSIVE=120

            # Min: 0
            # Max: 2147483647
            I:SHRAPNEL=100
        }

    }

}


