# Configuration file

general {
    # Number of missiles to spawn for cluster missile
    # Min: 1
    # Max: 30
    I:cluster_size=12

    # Number of missiles to spawn for nuclear cluster missile
    # Min: 1
    # Max: 30
    I:nuclear_cluster_size=4

    # Height (y level) to start simulating a missile when it travels above the map
    # Min: 1
    # Max: 2147483647
    I:simulation_start_height=300

    # Speed limiter of the missile when moving upwards out of the launcher
    # Min: 1.0E-4
    # Max: 10.0
    D:speed=0.012000000104308128
}


